@import url('https://fonts.googleapis.com/css?family=Bilbo|Bilbo+Swash+Caps|Felipa|Jaldi|Montez|Montserrat|Shadows+Into+Light|Vast+Shadow|Yellowtail');

/* font-family: 'Jaldi', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montez', cursive;
font-family: 'Felipa', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Bilbo', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Vast Shadow', cursive; */

/* GENERAL STYLES */
.body {
  position: relative;
  margin: auto 0;
}
.center {
  align: center;
  text-align: center;
  align-content: center;
}
.container {
  margin-left: 18%;
}
.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
hr {
  width: 100vw;
}

.jumbotron {
  background-color: white;
  background-size: cover;
}
/*
.navbar-nav {
  display: inline-block;
} */

.navbar-default {
  text-align: center;
}

/* IDs */
#element-with-background-image {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://ibb.co/WzCZztf');
}
#home, #tutoring, #editing, #about, #schedule, #connect {
  padding-top: 50px;
  background-color: white;
  color: black;
  height: 1000px;
}

/* IMAGES */
.img-fullscreen {
  object-fit: cover;
  background-image: linear-gradient(to bottom, transparent 0%, white 100%);
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
}
.img-overlay {
  position: absolute;
  top: 50;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.75);
}
.img-wrapper {
  position: relative;
  width: 100%;
  font-size: 0;
}
.logo {
  background-color: ghostwhite;
  height: 32%;
  width: 32%;
}

/* FONTS */
.f14 {
  font-size: 1.4rem;
}
/* .f15 {
  font-size: 1.5rem;
} */
/* .f18 {
  font-size: 1.8rem;
} */
/* .f2 {
  font-size: 2rem;
} */

/* HEIGHTS */
/* .h60v {
  height: 60vh;
}
.h70v {
  height: 70vh;
}
.h84v {
  height: 84vh;
}
.h80p {
  height: 80%;
} */
.h100v {
  height: 100vh;
}

/* MARGINS */
.mtb2 {
  margin-bottom: 2%;
  margin-top: 2%;
}
.mlr5 {
  margin-left: 5%;
  margin-right: 5%;
}
.ml1p {
  margin-left: -1%;
}
/* .ml15p {
  margin-left: -1.5%;
} */
.ml175p {
  margin-left: -1.75%;
}
/* .ml2p {
  margin-left: -2%;
} */
.ml25p {
  margin-left: -2.5%;
}
/* .ml3p {
  margin-left: -3%;
} */
.ml35p {
  margin-left: -3.5%;
}
.mt5n {
  margin-top: -5%;
}
.mt9n {
  margin-top: -9%
}
/* .mt15 {
  margin-top: -15%;
} */
.mt5p {
  margin-top: 5%;
}

/* OPACITY */
.op9 {
  opacity: 0.9;
}
.op8 {
  opacity: 0.8;
}
.op5 {
  opacity: 0.5;
}

/* PADDING */
.pdng2 {
  padding: 2%;
}
.pdngl2{
  padding-left: 2%;
}
.pdng-l2 {
  padding-left: 2%;
}

/* POSITION */
/* .abs {
  position: absolute;
} */

/* SHADOW */
/* .shadow {
 box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
} */

/* TEXT */
.up-txt {
  text-transform: uppercase;
}

/* WIDTHS */
.w100v {
  width: 100vw;
}
.w100p {
  width: 100%;
}
.w102p {
  width: 102%;
}
/* .w103p {
  width: 103%;
} */
.w1035p {
  width: 103.5%;
}
/* .w104p {
  width: 104%;
} */
.w105p {
  width: 105%;
}
.w1055p {
  width: 105.5%;
}
/* .w106p {
  width: 106%;
} */
.w107p {
  width: 107%;
}
/* .w108p {
  width: 108%;
} */
